<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../static/css/productos.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
    <!-- upper --------------------------------------section -->
        <section class="upper-section">
            <div class="upper-logo">
                <h1 class="logo-h1"><span class="logo-span">T</span>u<span> <span class="logo-span">T</span>ienda</span></h1>
                <i class='bx bx-text' ></i><i class='bx bx-text logo' ></i>
            </div>
            <div class="upper-user">
                <a class="login-link" href="../templates/login.html" rel="noopener noreferrer">  
                    <i class='bx bx-user-pin'></i>
                    <p class="login">Login</p>
                </a>      
            </div>
        </section>
        <!-- lower --------------------------------------section -->
        <section class="lower-section">
            <nav class="lower-nav">
                <i class='bx bx-menu'></i>
                <ul class="menu">
                    <li><a class="menu-nav-list" href="../index.html" rel="noopener noreferrer">Home</a></li>
                    <li><a class="menu-nav-list" href="./templates/locales.html" rel="noopener noreferrer">Locales</a></li>
                    <li><a class="menu-nav-list" href="./templates/productos.html" rel="noopener noreferrer">Carrito</a></li>
                </ul>
            </nav> 
        </section>
    </header>
    <!----------------MAIN-SECTION-------------------------->
    <main>
        <div class="cards-conteiner">
            <!-- -------------------pruducto-1-------------------------------- -->
            <div class="card-product">
                <div class="img-conteiner">
                    <img class="picture" src="../static/img/ian-dooley-C6BrEIucDDU-unsplash.jpg" alt="T-shirt blonde">
                    <span class="card-discount">-25%</span>
                    <div class="card-share">
                        <i class='bx bxs-share-alt'></i>
                        <i class='bx bxs-bookmark-heart'></i>
                    </div>
                    <div class="stars-basket">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="basket">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <h3>Remera</h3>
                    <P class="product-price">$15600</P>
                </div>
            </div>
            <!-- -------------------pruducto-2-------------------------------- -->
            <div class="card-product">
                <div class="img-conteiner">
                    <img class="picture" src="../static/img/botitas-nike.jpg" alt="zapatillas">
                    <!-- <span class="card-discount"></span> -->
                    <div class="card-share">
                        <i class='bx bxs-share-alt'></i>
                        <i class='bx bxs-bookmark-heart'></i>
                    </div>
                    <div class="stars-basket">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="basket">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <h3>zapatillas</h3>
                    <P class="product-price">$140.600</P>
                </div>
            </div>    
            <!-- -------------------pruducto-3-------------------------------- -->
            <div class="card-product">
                <div class="img-conteiner">
                    <img class="picture" src="../static/img/campera-rompevientos.jpg" alt="campera">
                    <span class="card-discount">-25%</span>
                    <div class="card-share">
                        <i class='bx bxs-share-alt'></i>
                        <i class='bx bxs-bookmark-heart'></i>
                    </div>
                    <div class="stars-basket">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="basket">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <h3>Campera</h3>
                    <P class="product-price">$80000</P>
                </div>
            </div>
            <!-- -------------------pruducto-4-------------------------------- -->
            <div class="card-product">
                <div class="img-conteiner">
                    <img class="picture" src="../static/img/joggin-hombre.jpg" alt="joggin">
                    <span class="card-discount">-25%</span>
                    <div class="card-share">
                        <i class='bx bxs-share-alt'></i>
                        <i class='bx bxs-bookmark-heart'></i>
                    </div>
                    <div class="stars-basket">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="basket">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <h3>Joggin</h3>
                    <P class="product-price">$25000</P>
                </div>
            </div>
            <!-- -------------------pruducto-5-------------------------------- -->
            <div class="card-product">
                <div class="img-conteiner">
                    <img class="picture" src="../static/img/mochila-copada.jpg" alt="Mochila copada">
                    <span class="card-discount">-10%</span>
                    <div class="card-share">
                        <i class='bx bxs-share-alt'></i>
                        <i class='bx bxs-bookmark-heart'></i>
                    </div>
                    <div class="stars-basket">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="basket">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <h3>Remera</h3>
                    <P class="product-price">$15600</P>
                </div>
            </div>
            <!-- -------------------pruducto-6-------------------------------- -->
            <div class="card-product">
                <div class="img-conteiner">
                    <img class="picture" src="../static/img/madias-cajas.jpg" alt="medias de lujo">
                    <!-- <span class="card-discount">-25%</span> -->
                    <div class="card-share">
                        <i class='bx bxs-share-alt'></i>
                        <i class='bx bxs-bookmark-heart'></i>
                    </div>
                    <div class="stars-basket">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="basket">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <h3>Medias</h3>
                    <P class="product-price">$13600</P>
                </div>
            </div>    
            <!-- -------------------pruducto-7-------------------------------- -->
            <div class="card-product">
                <div class="img-conteiner">
                    <img class="picture" src="../static/img/remera-2.jpg" alt="T-shirt blonde">
                    <!-- <span class="card-discount">-25%</span> -->
                    <div class="card-share">
                        <i class='bx bxs-share-alt'></i>
                        <i class='bx bxs-bookmark-heart'></i>
                    </div>
                    <div class="stars-basket">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="basket">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <h3>Remera-people</h3>
                    <P class="product-price">$17600</P>
                </div>
            </div>
            <!-- -------------------pruducto-8-------------------------------- -->
            <div class="card-product">
                <div class="img-conteiner">
                    <img class="picture" src="../static/img/camisas-varias.jpg" alt="T-shirt blonde">
                    <!-- <span class="card-discount">-25%</span> -->
                    <div class="card-share">
                        <i class='bx bxs-share-alt'></i>
                        <i class='bx bxs-bookmark-heart'></i>
                    </div>
                    <div class="stars-basket">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="basket">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <h3>Camisas</h3>
                    <P class="product-price">$35000</P>
                </div>
            </div>
            <!-- -------------------pruducto-7-------------------------------- --> 
            <div class="card-product">
                <div class="img-conteiner">
                    <img class="picture" src="../static/img/sandalias-mujer.jpg" alt="sandalias mujer">
                    <!-- <span class="card-discount">-25%</span> -->
                    <div class="card-share">
                        <i class='bx bxs-share-alt'></i>
                        <i class='bx bxs-bookmark-heart'></i>
                    </div>
                    <div class="stars-basket">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="basket">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <h3>Sandalias</h3>
                    <P class="product-price">$58100</P>
                </div>
            </div>
        </div>    
    </main>
    <!------------------------------------------------------>
    <footer class="footer">
        <div class="footer-div"> 
            <div class="social-icons">
                <p class="title-footer">Seguinos en nuestras redes!</p>
                <span class="social">
                    <i class='bx bxl-facebook-circle'></i>
                </span>
                <span class="social">
                    <i class='bx bxl-youtube' ></i>
                </span>
                <span class="social">
                    <i class='bx bxl-pinterest' ></i>
                </span>
                <span class="social">
                    <i class='bx bxl-instagram'></i>
                </span>
            </div>
            <div class="newsletter">
                <p class="title-footer">Boletín informativo</p>
                <div class="content">
                    <p class="description-content">
                    Suscríbete a nuestros boletines ahora y mantente al<br>
                    día con nuevas colecciones y ofertas exclusivas.
                    </p>
                    <input type="email" placeholder="Ingresa el correo aquí..">
                    <button>Suscríbete</button>
                </div>
            </div>    
        </div> 
        <div class="footer-payment">
            <div class="copyright">
                <p class="maker">
                Desarrollado por L&M  &copy; 2024
                </p>
            </div>    
            <div class="payments">
                <p class="title-footer">Metodos de pago</p>
                <img class="pyment-method"  src="../static/img/visa_payment_method_card_icon_142746.svg" alt="visa">
                <img class="pyment-method" src="../static/img/amex_payment_method_card_icon_142744.png" alt="">
                <img class="pyment-method" src="../static/img/paypal_payment_method_icon_142749.png" alt="">
                <img class="pyment-method" src="../static/img/mastercard_payment_method_icon_142750.svg" alt="">
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/6937d822d9.js" crossorigin="anonymous"></script>
</body>
</html>